body {
	padding-top: 48px; 
	width: 100%;
	font-family: verdana;
  }
  
  .user-navigation{
	background-color: rgb(40,40,40);
  }
  
  .user-navigation-button{
	height:100%; 
    width: 50px;
    border: none;
    background-size: 50% 50%;
    background-repeat: no-repeat;
    background-position: center;
	background-color: rgb(34,34,34);
    float:left;
    outline:none;
  }  
		
	button.link  { 
		 background:none;
		 border:none; 
		 width: 100%;
		 text-align: center;		
	 }
  
  .white {
		color: #fff;
	}

	.table{
		background-color: white;
	}
	
	.panel{
		width: 100%;
		height: 100%;
		background-color: rgb(40,40,40);
	}
	.panel-heading{
		background-color: rgb(40,40,40);
		color: white;
		width: 100%;
		margin-left:0px;
		margin-right:0px;
	}
	
	.search-bar{
		color: white;
		text-align: center;		
	}	
	.search-bar-field{
		color: black;
	}	